body{
    background-color: black;
    margin: 20px auto;
    text-align: center;
    color:white;
    width: 960px;
}

h1{
    padding: 20px;
    font-size: 42px;
}
 
a{
    color: white;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

aside {
    width: 100px;
    padding-left: 2px;
    margin-left: 2px;
}

#aside-left, #aside-right{
    float: left;

}

.img{
    height: 200px;
    width: 150px;
    padding-bottom: 5px;
}

#aside-right {
    width: 100px;
    padding-left: 2px;
    margin-left: 2px;
    float: right;
}